{% load static %}

{% include "public/header.html" %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-3">
                    <h4 class="card-title">{{ content_title }}</h4>
                </div>
        
                <div class="card-body">
                    <div id="section-search" class="mb-4"></div>
                    <div id="section-results"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "public/footer.html" %}

<script>
    ajx_load(
        "section-search",
        "{% url 'movie:search' %}"
    )

    ajx_load(
        "section-results",
        "{% url 'movie:list' %}"
    )
</script>